:root {
  --border-radius: 12px;
<<<<<<< HEAD
  --logo-color: #5D5D6D;
  --bg-secondary: #F3F5F6;
  --text-dark: #737380;
  --delete-color: #DE3838;
=======
>>>>>>> e2e6e6f65e9d5f793255a0676f4fcee11132076b
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
